
.footer{
  height: 100%;
    bottom: 0;
    width: 100%;
  color: white;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 24%;
}
body{
  background-color: black;  
}